@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Content";
}

<body>
    <section class="content-sect">
        <div class="header head-cont">
            <input type="checkbox" id="login" class="open" name="open">
            <div class="head">
                <div class="logo">
                    <img src="photo/.png" alt="">
                </div>
                <div class="search">
                    <input type="text" name="" id="" placeholder="Jméno">
                    <input type="image" src="photo/sea.png">
                </div>
                <div class="odkazy">
                    <label for="account">Účty</label>
                    <label for="post">Příspěvky</label>
                    <label for="instagram">Instagram</label>
                    <label for="contact">Kontakty</label>
                    <a href="index.html">Odhlásit se</a>
                </div>
                <div class="input">
                    <div class="login input-flex">
                        <a href="account.html"><img src="photo/profil.webp" alt=""></a>
                    </div>
                    <div class="create input-flex">
                        <a href="post.html"><img src="photo/create.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <input type="radio" name="content" id="account" checked>
            <input type="radio" name="content" id="post">
            <input type="radio" name="content" id="instagram">
            <input type="radio" name="content" id="contact">
            <div class="content-nav">
                <label for="account" class="cont-a">
                    <hr class="conthr">
                    <p>ÚČTY</p>
                </label>
                <label for="post" class="cont-a">
                    <hr class="conthr">
                    <p>PŘÍSPĚVKY</p>
                </label>
                <label for="instagram" class="cont-a">
                    <hr class="conthr">
                    <p>INSTAGRAM</p>
                </label>
                <label for="contact" class="cont-a">
                    <hr class="conthr">
                    <p>KONTAKTY</p>
                </label>
            </div>
            <div class="content-c">











                <div class="cont-accounts">





                    <div class="profile">
                        <input type="checkbox" name="" id="dn" class="prof">
                        <div class="pimg">
                            <img src="photo/profil.webp" alt="">
                        </div>
                        <div class="pinfo">
                            <div class="pname">
                                <div class="pnam"><p>Dominik</p></div>
                                <div class="nickn"><p>Novák</p></div>
                            </div>
                            <div class="clas"><p>V3</p></div>
                        </div>
                        <label for="dn" class="more">Více</label>
                        <div class="cont-probig">
                            <div class="profilebig">
                                <div class="primg">
                                    <img src="photo/profil.webp" alt="">
                                </div>
                                <input type="checkbox" name="" id="dn-gal" class="pr-gal">
                                <div class="prinfo">
                                    <div class="pr">
                                        <div class="pr-kr">Dominik</div>
                                        <div class="pr-nick">Novák</div>
                                    </div>
                                    <div class="pr">
                                        email: <div class="pr-email"><a href="mailto:">d.novak@seznam.cz</a></div>
                                    </div>
                                    <div class="pr">
                                        telefon: <div class="pr-tel"><a href="tel:+">--- --- ---</a></div>
                                    </div>
                                    <div class="pr">
                                        instagram: <div class="pr-ig"><a href="https://www.instagram.com/ " target="_blank">dom_novak</a></div>
                                    </div>
                                    <div class="pr">
                                        facebook: <div class="pr-face"><a href="" target="_blank">dominik.novak</a></div>
                                    </div>
                                    <div class="pr">
                                        třída: <div class="pr-class">V3</div>
                                    </div>
                                    <div class="pr">
                                        narození: <div class="pr-year">dd-mm-rr</div>
                                    </div>
                                </div>
                                <div class="prpost">
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="pr-mori">
                                    <label for="">Zpráva</label>
                                    <label for="dn-gal" class="pr-pris"></label>
                                </div>
                                <label for="dn" class="pro-back"></label>
                            </div>
                        </div>
                    </div>








                    <div class="profile pred">
                        <input type="checkbox" name="" id="fd" class="prof">
                        <div class="pimg">
                            <img src="photo/profil.webp" alt="">
                        </div>
                        <div class="pinfo">
                            <div class="pname">
                                <div class="pnam"><p>František</p></div>
                                <div class="nickn"><p>Dvořák</p></div>
                            </div>
                            <div class="clas"><p>V7</p></div>
                        </div>
                        <label for="fd" class="more">Více</label>
                        <div class="cont-probig">
                            <div class="profilebig">
                                <div class="primg">
                                    <img src="photo/profil.webp" alt="">
                                </div>
                                <input type="checkbox" name="" id="fn-gal" class="pr-gal">
                                <div class="prinfo">
                                    <div class="pr">
                                        <div class="pr-kr">František</div>
                                        <div class="pr-nick">Dvořák</div>
                                    </div>
                                    <div class="pr">
                                        email: <div class="pr-email"><a href="mailto:">f.dvor@seznam.cz</a></div>
                                    </div>
                                    <div class="pr">
                                        telefon: <div class="pr-tel"><a href="tel:+">--- --- ---</a></div>
                                    </div>
                                    <div class="pr">
                                        instagram: <div class="pr-ig"><a href="https://www.instagram.com/ " target="_blank">fr_novak</a></div>
                                    </div>
                                    <div class="pr">
                                        facebook: <div class="pr-face"><a href="" target="_blank">novas</a></div>
                                    </div>
                                    <div class="pr">
                                        třída: <div class="pr-class">V7</div>
                                    </div>
                                    <div class="pr">
                                        narození: <div class="pr-year">dd-mm-rr</div>
                                    </div>
                                </div>
                                <div class="prpost">
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="pr-mori">
                                    <label for="">Zpráva</label>
                                    <label for="fn-gal" class="pr-pris"></label>
                                </div>
                                <label for="fd" class="pro-back"></label>
                            </div>
                        </div>
                    </div>




                    <div class="profile">
                        <input type="checkbox" name="" id="dn" class="prof">
                        <div class="pimg">
                            <img src="photo/profil.webp" alt="">
                        </div>
                        <div class="pinfo">
                            <div class="pname">
                                <div class="pnam"><p>Dominik</p></div>
                                <div class="nickn"><p>Novák</p></div>
                            </div>
                            <div class="clas"><p>V3</p></div>
                        </div>
                        <label for="dn" class="more">Více</label>
                        <div class="cont-probig">
                            <div class="profilebig">
                                <div class="primg">
                                    <img src="photo/profil.webp" alt="">
                                </div>
                                <input type="checkbox" name="" id="dn-gal" class="pr-gal">
                                <div class="prinfo">
                                    <div class="pr">
                                        <div class="pr-kr">Dominik</div>
                                        <div class="pr-nick">Novák</div>
                                    </div>
                                    <div class="pr">
                                        email: <div class="pr-email"><a href="mailto:">d.novak@seznam.cz</a></div>
                                    </div>
                                    <div class="pr">
                                        telefon: <div class="pr-tel"><a href="tel:+">--- --- ---</a></div>
                                    </div>
                                    <div class="pr">
                                        instagram: <div class="pr-ig"><a href="https://www.instagram.com/ " target="_blank">dom_novak</a></div>
                                    </div>
                                    <div class="pr">
                                        facebook: <div class="pr-face"><a href="" target="_blank">dominik.novak</a></div>
                                    </div>
                                    <div class="pr">
                                        třída: <div class="pr-class">V3</div>
                                    </div>
                                    <div class="pr">
                                        narození: <div class="pr-year">dd-mm-rr</div>
                                    </div>
                                </div>
                                <div class="prpost">
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="pr-mori">
                                    <label for="">Zpráva</label>
                                    <label for="dn-gal" class="pr-pris"></label>
                                </div>
                                <label for="dn" class="pro-back"></label>
                            </div>
                        </div>
                    </div>








                    <div class="profile pred">
                        <input type="checkbox" name="" id="fd" class="prof">
                        <div class="pimg">
                            <img src="photo/profil.webp" alt="">
                        </div>
                        <div class="pinfo">
                            <div class="pname">
                                <div class="pnam"><p>František</p></div>
                                <div class="nickn"><p>Dvořák</p></div>
                            </div>
                            <div class="clas"><p>V7</p></div>
                        </div>
                        <label for="fd" class="more">Více</label>
                        <div class="cont-probig">
                            <div class="profilebig">
                                <div class="primg">
                                    <img src="photo/profil.webp" alt="">
                                </div>
                                <input type="checkbox" name="" id="fn-gal" class="pr-gal">
                                <div class="prinfo">
                                    <div class="pr">
                                        <div class="pr-kr">František</div>
                                        <div class="pr-nick">Dvořák</div>
                                    </div>
                                    <div class="pr">
                                        email: <div class="pr-email"><a href="mailto:">f.dvor@seznam.cz</a></div>
                                    </div>
                                    <div class="pr">
                                        telefon: <div class="pr-tel"><a href="tel:+">--- --- ---</a></div>
                                    </div>
                                    <div class="pr">
                                        instagram: <div class="pr-ig"><a href="https://www.instagram.com/ " target="_blank">fr_novak</a></div>
                                    </div>
                                    <div class="pr">
                                        facebook: <div class="pr-face"><a href="" target="_blank">novas</a></div>
                                    </div>
                                    <div class="pr">
                                        třída: <div class="pr-class">V7</div>
                                    </div>
                                    <div class="pr">
                                        narození: <div class="pr-year">dd-mm-rr</div>
                                    </div>
                                </div>
                                <div class="prpost">
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="pr-mori">
                                    <label for="">Zpráva</label>
                                    <label for="fn-gal" class="pr-pris"></label>
                                </div>
                                <label for="fd" class="pro-back"></label>
                            </div>
                        </div>
                    </div>




                    <div class="profile">
                        <input type="checkbox" name="" id="dn" class="prof">
                        <div class="pimg">
                            <img src="photo/profil.webp" alt="">
                        </div>
                        <div class="pinfo">
                            <div class="pname">
                                <div class="pnam"><p>Dominik</p></div>
                                <div class="nickn"><p>Novák</p></div>
                            </div>
                            <div class="clas"><p>V3</p></div>
                        </div>
                        <label for="dn" class="more">Více</label>
                        <div class="cont-probig">
                            <div class="profilebig">
                                <div class="primg">
                                    <img src="photo/profil.webp" alt="">
                                </div>
                                <input type="checkbox" name="" id="dn-gal" class="pr-gal">
                                <div class="prinfo">
                                    <div class="pr">
                                        <div class="pr-kr">Dominik</div>
                                        <div class="pr-nick">Novák</div>
                                    </div>
                                    <div class="pr">
                                        email: <div class="pr-email"><a href="mailto:">d.novak@seznam.cz</a></div>
                                    </div>
                                    <div class="pr">
                                        telefon: <div class="pr-tel"><a href="tel:+">--- --- ---</a></div>
                                    </div>
                                    <div class="pr">
                                        instagram: <div class="pr-ig"><a href="https://www.instagram.com/ " target="_blank">dom_novak</a></div>
                                    </div>
                                    <div class="pr">
                                        facebook: <div class="pr-face"><a href="" target="_blank">dominik.novak</a></div>
                                    </div>
                                    <div class="pr">
                                        třída: <div class="pr-class">V3</div>
                                    </div>
                                    <div class="pr">
                                        narození: <div class="pr-year">dd-mm-rr</div>
                                    </div>
                                </div>
                                <div class="prpost">
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="pr-mori">
                                    <label for="">Zpráva</label>
                                    <label for="dn-gal" class="pr-pris"></label>
                                </div>
                                <label for="dn" class="pro-back"></label>
                            </div>
                        </div>
                    </div>








                    <div class="profile pred">
                        <input type="checkbox" name="" id="fd" class="prof">
                        <div class="pimg">
                            <img src="photo/profil.webp" alt="">
                        </div>
                        <div class="pinfo">
                            <div class="pname">
                                <div class="pnam"><p>František</p></div>
                                <div class="nickn"><p>Dvořák</p></div>
                            </div>
                            <div class="clas"><p>V7</p></div>
                        </div>
                        <label for="fd" class="more">Více</label>
                        <div class="cont-probig">
                            <div class="profilebig">
                                <div class="primg">
                                    <img src="photo/profil.webp" alt="">
                                </div>
                                <input type="checkbox" name="" id="fn-gal" class="pr-gal">
                                <div class="prinfo">
                                    <div class="pr">
                                        <div class="pr-kr">František</div>
                                        <div class="pr-nick">Dvořák</div>
                                    </div>
                                    <div class="pr">
                                        email: <div class="pr-email"><a href="mailto:">f.dvor@seznam.cz</a></div>
                                    </div>
                                    <div class="pr">
                                        telefon: <div class="pr-tel"><a href="tel:+">--- --- ---</a></div>
                                    </div>
                                    <div class="pr">
                                        instagram: <div class="pr-ig"><a href="https://www.instagram.com/ " target="_blank">fr_novak</a></div>
                                    </div>
                                    <div class="pr">
                                        facebook: <div class="pr-face"><a href="" target="_blank">novas</a></div>
                                    </div>
                                    <div class="pr">
                                        třída: <div class="pr-class">V7</div>
                                    </div>
                                    <div class="pr">
                                        narození: <div class="pr-year">dd-mm-rr</div>
                                    </div>
                                </div>
                                <div class="prpost">
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="pr-mori">
                                    <label for="">Zpráva</label>
                                    <label for="fn-gal" class="pr-pris"></label>
                                </div>
                                <label for="fd" class="pro-back"></label>
                            </div>
                        </div>
                    </div>




                    <div class="profile">
                        <input type="checkbox" name="" id="dn" class="prof">
                        <div class="pimg">
                            <img src="photo/profil.webp" alt="">
                        </div>
                        <div class="pinfo">
                            <div class="pname">
                                <div class="pnam"><p>Dominik</p></div>
                                <div class="nickn"><p>Novák</p></div>
                            </div>
                            <div class="clas"><p>V3</p></div>
                        </div>
                        <label for="dn" class="more">Více</label>
                        <div class="cont-probig">
                            <div class="profilebig">
                                <div class="primg">
                                    <img src="photo/profil.webp" alt="">
                                </div>
                                <input type="checkbox" name="" id="dn-gal" class="pr-gal">
                                <div class="prinfo">
                                    <div class="pr">
                                        <div class="pr-kr">Dominik</div>
                                        <div class="pr-nick">Novák</div>
                                    </div>
                                    <div class="pr">
                                        email: <div class="pr-email"><a href="mailto:">d.novak@seznam.cz</a></div>
                                    </div>
                                    <div class="pr">
                                        telefon: <div class="pr-tel"><a href="tel:+">--- --- ---</a></div>
                                    </div>
                                    <div class="pr">
                                        instagram: <div class="pr-ig"><a href="https://www.instagram.com/ " target="_blank">dom_novak</a></div>
                                    </div>
                                    <div class="pr">
                                        facebook: <div class="pr-face"><a href="" target="_blank">dominik.novak</a></div>
                                    </div>
                                    <div class="pr">
                                        třída: <div class="pr-class">V3</div>
                                    </div>
                                    <div class="pr">
                                        narození: <div class="pr-year">dd-mm-rr</div>
                                    </div>
                                </div>
                                <div class="prpost">
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="pr-mori">
                                    <label for="">Zpráva</label>
                                    <label for="dn-gal" class="pr-pris"></label>
                                </div>
                                <label for="dn" class="pro-back"></label>
                            </div>
                        </div>
                    </div>








                    <div class="profile pred">
                        <input type="checkbox" name="" id="fd" class="prof">
                        <div class="pimg">
                            <img src="photo/profil.webp" alt="">
                        </div>
                        <div class="pinfo">
                            <div class="pname">
                                <div class="pnam"><p>František</p></div>
                                <div class="nickn"><p>Dvořák</p></div>
                            </div>
                            <div class="clas"><p>V7</p></div>
                        </div>
                        <label for="fd" class="more">Více</label>
                        <div class="cont-probig">
                            <div class="profilebig">
                                <div class="primg">
                                    <img src="photo/profil.webp" alt="">
                                </div>
                                <input type="checkbox" name="" id="fn-gal" class="pr-gal">
                                <div class="prinfo">
                                    <div class="pr">
                                        <div class="pr-kr">František</div>
                                        <div class="pr-nick">Dvořák</div>
                                    </div>
                                    <div class="pr">
                                        email: <div class="pr-email"><a href="mailto:">f.dvor@seznam.cz</a></div>
                                    </div>
                                    <div class="pr">
                                        telefon: <div class="pr-tel"><a href="tel:+">--- --- ---</a></div>
                                    </div>
                                    <div class="pr">
                                        instagram: <div class="pr-ig"><a href="https://www.instagram.com/ " target="_blank">fr_novak</a></div>
                                    </div>
                                    <div class="pr">
                                        facebook: <div class="pr-face"><a href="" target="_blank">novas</a></div>
                                    </div>
                                    <div class="pr">
                                        třída: <div class="pr-class">V7</div>
                                    </div>
                                    <div class="pr">
                                        narození: <div class="pr-year">dd-mm-rr</div>
                                    </div>
                                </div>
                                <div class="prpost">
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="pr-post">
                                        <img src="photo/profil.webp" alt="">
                                        <div class="prp-vedl">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                            <img src="photo/profil.webp" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="pr-mori">
                                    <label for="">Zpráva</label>
                                    <label for="fn-gal" class="pr-pris"></label>
                                </div>
                                <label for="fd" class="pro-back"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>