@{
    ViewData["Title"] = "Account";
}
<body class="registr">
    <input type="checkbox" id="registr">
    <input type="checkbox" name="" id="sender">
    <div class="uprava">
        <div>
            <div class="profil">
                <div class="profil-title">
                    <hr class="profil">
                    <h2>PROFIL</h2>
                </div>
                <div class="profil-info">
                    <div class="info-img" id="imgBox">
                        <input type="file" name="" id="image" accept="image/*" style="display: none;" onchange="loadFile(event)">
                        <label for="image"><div></div></label>
                    </div>
                    <div class="near-info">
                        <div class="profil-class">
                            <div class="profil-inf">
                                <input type="text" name="" id="main" required value="Dominik">
                                <label for="main">Křestní jméno</label>
                            </div>
                            <div class="profil-inf">
                                <input type="text" name="" id="nick" required value="Novák">
                                <label for="nick">Příjmení</label>
                            </div>
                        </div>
                        <div class="profil-class">
                            <div class="profil-inf">
                                <input type="tel" name="" id="tel" required>
                                <label for="tel">Telefonní číslo</label>
                            </div>
                            <div class="profil-inf">
                                <input type="text" name="" id="mail" required value="dominink.novak@seznam.cz">
                                <label for="mail">Email</label>
                            </div>
                        </div>
                        <div class="profil-class">
                            <div class="profil-inf">
                                <input type="text" name="" id="ig" required value="dom_novak">
                                <label for="ig">Instagram</label>
                            </div>
                            <div class="profil-inf">
                                <input type="text" name="" id="face" required value="dominik.novak">
                                <label for="face">Facebook</label>
                            </div>
                        </div>
                        <div class="profil-class">
                            <div class="profil-inf">
                                <input type="text" name="" id="class" required value="V3">
                                <label for="class">Třída</label>
                            </div>
                            <div class="profil-inf">
                                <input type="date" name="" id="date" required>
                                <label for="date" class="date">Narození (den, měsíc, rok)</label>
                            </div>
                        </div>
                        <div class="profil-button">
                            <a href="login.html">Zrušit</a>
                            <label for="">Uložit</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        var imgBox = document.getElementById("imgBox")

        var loadFile = function(event){
            imgBox.style.backgroundImage = "url(" +URL.createObjectURL(event.target.files[0])+ ")"
        }
    </script>
</body>